<% layout('layout') -%>

<div id="app">
    <div id = "welcome">
      <h1>Connect As: </h1>
      <div class="btn-group" role = "group">
          <button type="button" class = "btn btn-default" id = "tbutton">Tourist</button>
          <button type="button" class = "btn btn-default" id = "gbutton">Guide</button>
      </div>
    </div>

    <div id="map"></div>
</div>
