<!DOCTYPE HTML>
<html>
	<head>
		<style>
	      html, body {
	        height: 100%;
	        margin: 0;
	        padding: 0;
	      }
	      #map {
	        height: 100%;
	      }
    	</style>
	</head>
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/coords.js"></script>

	<body>
		<p id="welcome">Welcome</p>	
		<p id="currentLoc"> </p>
		<!-- Display map with markers for current user location -->
		<div id="map">

		</div>

	<!-- Script to get map -->
	<script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj5ahzW50vUv9eNPtUYIernp_J_JS5CEM&callback=initMap">
    </script>

	</body>
</html>