.fa-spin
{
    font-size: 72px;
    margin-top: 25px;
}

body{
  font-family: "Avenir Next";
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* For width 400px and larger: */
@media only screen and (max-width: 1000px) {
    body{ 
        background-image: url('../img/background_sm.jpg'); 
    }
}

img.card-img-top {
  max-width: 100%
}

img {
  display: block;
  margin: auto;
}

input{
  margin-bottom: 10px;
}

.navbar {
  max-height: 70px;
  background-color: #009900;
  margin-bottom: 70px;
}

#home_btn{
  margin-top: 10px;
}

#home_img{
  width: 75%;
  height: 75%;
  padding-bottom: 15px;
}

#tbutton {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #0982FF;
  border-color: #0982FF;
  color: white;
}

#gbutton {
  width: 100%;
  background-color: #FF8040;
  border-color: #FF8040;
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}

#title{
  text-align: center;
}

h1, h2, h3, h4{
  font-family: "Avenir Next";
  margin-bottom: 20px;
}
